// Imports
@import "./_variables.scss";

// Reset basic style and use full screen
html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
} 

#app {
    display: flex;
    width: 100%;
}

#nav {
    display: flex;
    flex-direction: column;
    height: calc(100% - 2px);
    background-color: $primary;
    padding-top: 2px;
    width: 175px;

    .nav-button {
        border-radius: 5px;
        text-align: center;
        padding: 0.5em 1em;
        margin: 0.25em 0.5em;
        text-decoration: none;
        color: black;

        &:hover {
            background-color: $primary-hover;
        }
    }
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;

    .status-bar {
        height: 25px;
        width: calc(100% - 20px);
        padding: 10px;
        background-color: $primary;
    }

    .content {
        height: calc(100% - 20px);
        padding: 10px;
    }
}

.module-container {
    border: $primary-border;
    border-radius: 0 $border-radius $border-radius $border-radius;
    margin-top: 30px;
    padding: 5px;
    height: calc(100% - 35px);

    .module-tabs {
        position: relative;
        left: -6px;
        top: -32px;

        .tab {
            padding: 3px;
            border: $primary-border;
            border-radius: $border-radius $border-radius 0 0;
            width: 75px;
            float: left;
            cursor: pointer;

            &.selected {
                background-color: $primary;
            }

            &:hover {
                background-color: $primary-hover;
            }
        }
    }
}