#app {
    display: flex;
}

#nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff63c;
    border-radius: 0 5px 5px 0;
}

.nav-button {
    border-radius: 5px;
    text-align: center;
    padding: 0.5em 1em;
    margin: 0.25em 0.5em;
    text-decoration: none;
    color: black;
}

.nav-button:hover {
    background-color: #ded635;
}

html, body, #app {
    margin: 0;
    height: 100%;
} 
